[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "dist"

[dev]
  command = "vite --host 0.0.0.0 --port 5173"
  targetPort = 5173
  port = 5000
  framework = "vite"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
